* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 10vw);
    position: absolute;
    top: 20%;
    left: 33%;
    height: calc(60vh);
    box-shadow: 10px 10px 30px rgb(128, 128, 128);
  }
  
  div > div {
    padding: 10px;
    background-color: #ccc;
    
  }
  .check{
    opacity: 0;
    width: 100%;
    height: 100%;
  }
  .check:hover{
    background-color: rgb(189, 174, 255);
    opacity: 0.1;
  }

h1{
  position: absolute;
  left: 45%;
  top: 10%;
  opacity: 0;
}
.active{
  opacity: 1;
}
.restart{
  position: absolute;
  left: 45%;
  width: 100px;
  color: red;
  height: 100px;
  top: 85%;
}